@import url("https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
}


.backgrd {
  background-image: url("https://i.postimg.cc/sg0QmnGr/pexels-polina-kovaleva-5827776.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 550px;
  max-width: 100%;
  color: white;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-wrap: wrap;
}

.navigation {
  display:flex;
}

.navigation li {
  display: inline-block;
  margin: 0 20px 0 0;
  position: relative;
  color: white;
  padding-top: 25px;
}

.navigation ul li a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 10px auto;
  padding: 16px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  background-color: inherit;
  background-position: 100% 0;
  background-size: 300%;
  transition: all 1s;
}



.btn-logo a {
  color: gold;
  font-family: "Luxurious Script", cursive;
  font-size: 75px;
}

.btn-logo {
  display:flex;
}

.btn-one {
  background: gold;
  color: white;
  font-weight: 200;
  font-size: 24px;
}

.header a {
  color:white;
  }

.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.page-title {
  margin: 0;
  font-size: 60px;
  word-spacing: 5px;
  font-weight: bold;
  line-height: 1.2;
}


.page-subtitle {
  margin: 24px 0;
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  font-style: italic;
}

.section-title {
  font-size: 36px;
  margin: 0;
  text-align: center;
  padding-top: 60px;
}

.section-subtitle {
  font-size: 20px;
  text-align: center;
  color: darkgray;
  font-style: italic;
}

.box {
    padding-top:20px;
}

.icons i {
   font-size:30px;
    border-style:solid;
    width: 60px;
    height: 60px;
    color: gold;
    border-radius:50%;
    padding-top:10px;
    margin:auto;
    border-width:5px;
}


.box-text-image {
    background-color:white;    
    height:80px;
    text-align: center;
   
}


.box-text p {
    color: darkgray;
    text-align:center; 
    font-style:italic;
    font-size:20px;
}
.image-box {
   min-height: 300px;
   padding-top:10px;
  margin-bottom: 0;

}
.image-box h2 {

  margin-top: -5px;
  margin-bottom: 5px;
  padding:  10px;
}

.image-box p {
    margin:0px;
}

.foto {
    
    object-fit:cover; 
    margin-bottom: 0;
}

.foto img {
    width:100%;
    height:100%;   
}

.portfolio {
background-color:#eeecec;    
padding: 20px;
}

footer {
  
    margin: 0 auto;    
    text-align: center;
    display:flex;
    flex-direction:row; 
    padding-top: 25px;
}

.icons-f li {
    display: inline-block;
    position: center;
    font-size: 0px; 
}
.icons-f li i {
    font-size:15px;
   background:black;
    width: 35px;
    height: 35px;
    color: white;
    border-radius: 50%;
    padding-top: 10px;
}

.text-f  {
  display:flex;
  justify-content:left;
  padding-top: 20px;

}
.icons-f {
    display:flex;
    justify-content:left;
    
}

@media (max-width: 600px) {  
  .page-title {
  font-size: 30px;
  }
  .page-subtitle {
    font-size: 20px;
  }
  .navigation ul li {
    display:inline-block;
  }
  .btn-logo a {
    display:none; 
  }
  .backgrd {
      height:400px;
  }
  .image-box h2 {
        margin-top: -5px;
        margin-bottom:0;
        padding:  10px;
        font-size:15px;
  }
 
  
}